/.gradle/
/build/
**/build/
**/out/
/local.properties
/captures/
/.idea/
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/**/usage.statistics.xml
/.idea/**/dictionaries
/.idea/**/libraries
/.idea/**/shelf/
/.idea/**/caches/
*.iml
*.iws
*.ipr
*.keystore
*.jks
.DS_Store
Thumbs.db
/.kotlin/
/kotlin-js-store/